@import url("https://fonts.googleapis.com/css?family=Syne:100,200,300,400,500,600,700|Cairo:100,200,300,400,500,600,700|Oxygen:100,200,300,400,500,600,700");


body {
    background: url("../images/underwater.jpg") no-repeat center center fixed;
}

.inline-block {
    display: inline-block;
}

/*------------------------------------------------------------Heading */

.uppercase {
    text-transform: uppercase;
}

.navbar {
    background-color: #406ce4;
}

.navbar-brand {
    color: #fafafa;
    font-size: 100%;
    font-weight: 600;
    font-family: "Syne", sans-serif;
}

.nav-item {
    text-align: right;
}

.nav-item a {
    color: #fafafa;
}

/*------------------------------------------------------------Callout */

.callout-container {
    justify-content: center;
    position: relative; 
    height: 85vh;
}

.jumbotron {
    background: rgba(0, 14, 54, 0.7);
    color: #fafafa;
    margin-top: 20%;
}

.callout-header {
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 400%;
}

.callout-text {
    font-family: "Cairo", sans-serif;
}

.block-divider {
    width: 120px;
    height: 3px;
    background-color: #fc6a16;
}

.btn-callout {
    background-color: #fc6a16;
    color: #000000;
    border-radius: 25px;
}

.btn-callout:hover {
    background-color: #c95613;
    color: #fafafa;
}

/*------------------------------------------------------------Content */

.content-container {
    background-color: rgba(51, 148, 228, 0.55);
    color: #fafafa;
    margin-bottom: 25px;
    margin-top: 25px;
}

.content-heading {
    font-family: "Cairo", sans-serif;
    font-size: 30px;
}

.content-paragraph {
    font-family: "Oxygen", sans-serif;
    font-size: 15px; 
}

.content-image {
    height: 80%;
    width: 100%;
}

.container-btn {
    background-color: #fc6a16;
    color: #000000;
    border-radius: 25px;
    margin-bottom: 10px;
}

.container-btn:hover {
    background-color: #000000;
    color: #fc6a16;
}

.btn-container {
    text-align: center;
}


/*------------------------------------------------------------Footer */

.footer-styling {
    background-color: #29438a;
    color: #fafafa;
}

.footer-heading {
    font-family: "Oxygen", sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 10%;
}

.contact-info {
    font-family: "Oxygen", sans-serif;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
}

.monthly-subscription {
    text-align: center;
}

.form-styling {
    background-color: #3b3b3b;
    color: #ffffff;
}

.form-btn-styling {
    background-color: #3b3b3b;
    color: #fafafa;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.form-btn-styling:hover {
    background-color: #fc6a16;
    color: #fafafa;
}

.social-links {
    font-size: 200%;
    text-align: center;
}

.social-links li a i {
    color: #5a86ff;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social-links li a i:hover {
    color: #fc6a16;
}



@media(min-width: 992px){
    .navbar-brand {
        font-size: 200%; 
}
    .jumbotron {
        margin-top: 10%;
        margin-bottom: 0;
}
    .content-paragraph {
        font-size: 25px;
    }
    .content-heading{
        font-size: 50px;
    }
    .content-container {
        margin-top: 75px;
        margin-bottom: 75px;
    }
}