@import url("https://fonts.googleapis.com/css?family=Syne:100,200,300,400,500,600,700|Cairo:100,200,300,400,500,600,700|Oxygen:100,200,300,400,500,600,700");


body {
    background: url("../images/underwater.jpg") no-repeat center center fixed;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

/*------------------------------------------------------------Heading */

.uppercase {
    text-transform: uppercase;
}

.navbar {
    background-color: #406ce4b2;
}

.navbar-brand {
    color: #fafafa;
    font-size: 100%;
    font-weight: 600;
    font-family: "Syne", sans-serif;
}

.nav-item {
    text-align: right;
}

.nav-item a {
    color: #fafafa;
}

/*------------------------------------------------------------Callout */

.callout-container {
    justify-content: center;
    position: relative; 
    height: 85vh;
}

.jumbotron {
    background: rgba(0, 14, 54, 0.7);
    color: #fafafa;
    margin-top: 20%;
}

.callout-header {
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 400%;
}

.callout-text {
    font-family: "Cairo", sans-serif;
}

.block-divider {
    width: 7.5rem;
    height: 3px;
    background-color: #fc6a16;
}

.btn-callout {
    background-color: #fc6a16;
    color: #000000;
    border-radius: 1.5rem;
}

.btn-callout:hover {
    background-color: #c95613;
    color: #fafafa;
}

/*------------------------------------------------------------Content */

.page-heading {
    text-align: center;
    align-content: center;
    color: #fafafa;
    font-size: 3rem;
    margin-top: 5rem;
    font-weight: 600;
    font-family: "Cairo", sans-serif;
}

.content-container {
    background-color: rgba(51, 148, 228, 0.55);
    color: #fafafa;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.content-heading {
    font-family: "Cairo", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

.content-paragraph {
    font-family: "Oxygen", sans-serif;
    font-size: 1rem;
}

.content-image {
    height: 80%;
    width: 100%;
}

.container-btn {
    background-color: #fc6a16;
    color: #000000;
    border-radius: 1.5rem;
    margin-bottom: 0.6rem;
}

.container-btn:hover {
    background-color: #fafafa;
    color: #fc6a16;
}

/*------------------------------------------------------------The Facts*/

.history-container {
    margin-top: 25%;
    margin-bottom: 10%;
    position: relative;
    z-index: 1;
    padding-bottom: 1rem;
}

.history-bg {
    background: url(../images/bottles.jpg)  center no-repeat;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.history-bg:hover {
    background: url(../images/plastic-garbage.jpg) center no-repeat;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}

.micro-container {
    margin-bottom: 5%;
    position: relative;
    z-index: 1;
    padding-bottom: 1rem;
    overflow: hidden;
}

.micro-bg {
    background: url(../images/sea-life.jpg)  center no-repeat;
    opacity: 0.7;
    position: absolute;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.micro-bg:hover {
    transform: scale(1.1); 
}

.facts-heading {
    color: #fafafa;
    text-align: center;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 300%;
}

.facts-content {
    color: #fafafa;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
}

.appeal-content {
    color: #fafafa;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    text-align: center;
}

.appeal-heading {
    color: #fc6a16;
    text-align: center;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 300%;
}

.align-btn {
    text-align: center;
    margin-bottom: 1rem;
}

/*------------------------------------------------------------what-we're-doing/how you can help content*/

.help-heading {
    color: #fc6a16;
    font-weight: 600;
}

.help-content{
    background-color:  rgba(51, 148, 228, 0.6);
    color: #fafafa;
    margin-bottom: 2rem;
    height: fit-content;
    font-family: "Oxygen", sans-serif;
}

.you-help-paragraph {
    font-size: 1.3rem;
}


/*------------------------------------------------------------Link to other pages*/

.help-paragraph {
    text-align: center;
    color: #fafafa;
    padding-bottom: 2rem;
    margin: auto;
}

.btn-help-link {
    background-color: #fafafa;
    color: #fc6a16;
    border-radius: 1.5rem;
}

.btn-help-link:hover {
    background-color: #fc6a16;
    color: #fafafa;
}

.btn-external {
    color: #fc6a16;
    background-color: #444444;
    border-radius: 1.5rem;
}

.btn-external:hover {
    color: #444444;
    background-color: #fc6a16;
}

/*------------------------------------------------------------Donate */

.donate-header {
    text-align: center;
    font-size: 300%;
    margin-bottom: 2rem;
    font-family: "Cairo", sans-serif;
}

.donate-container {
    padding-top: 2rem;
    justify-content: center;
    position: relative; 
    height: 80vh;
}

.donate-form {
    align-content: center;
}

.donate-btn {
    border-radius: 1.5rem;
    background-color: #fafafa;
    color: #fc6a16;
}

.donate-btn:hover {
    background-color: #fc6a16;
    color: #fafafa;
}

.form-label {
    font-family: "Oxygen", sans-serif;
}


/*------------------------------------------------------------Footer */

.footer-styling {
    background-color: #29438a;
    color: #fafafa;
}

.footer-heading {
    font-family: "Oxygen", sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 10%;
}

.contact-info {
    font-family: "Oxygen", sans-serif;
    font-weight: 100;
    font-size: 1rem;
    text-align: center;
}

.monthly-subscription {
    text-align: center;
}

.form-styling {
    background-color: #7096ff;
    color: #ffffff;
    
}

.form-btn-styling {
    background-color: #7096ff;
    color: #fafafa;
    border-radius: 1.5rem;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.form-btn-styling:hover {
    background-color: #fc6a16;
    color: #fafafa;
}

.checkbox-text {
    font-size: 0.8rem;
}

.social-links {
    font-size: 200%;
    text-align: center;
}

.social-links li a i {
    color: #7096ff;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social-links li a i:hover {
    color: #fc6a16;
}



@media(min-width: 992px){
    .navbar-brand {
        font-size: 200%; 
}
    .jumbotron {
        margin-top: 10%;
        margin-bottom: 0;
}
    .content-paragraph {
        font-size: 1.3rem;
    }
    .content-heading{
        font-size: 3rem;
    }
    .content-container {
        margin-top: 4.6rem;
        margin-bottom: 4.6rem;
    }
    .page-heading {
        margin-top: 7rem;
    }
    .help-content {
        height: 80vh;
    }
    .btn-external {
        margin-left: 3rem;
    }
    .you-help-paragraph {
        font-size: 1.1rem;
    }
    .history-container {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

@media (min-width: 1024px) {
    .content-paragraph {
        font-size: 1.4rem;
    }
}